@import url(../styles/font.css);
@import url(../styles/reset.css);
body {
  background-color: #151515;
}

.top-bar {
  display: flex;
  align-items: center;
  height: 104px;
  width: 100%;
  background: #151515;
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.2);
}

.top-bar__wrapper {
  justify-content: space-between;
}

.wrapper {
  width: 100%;
  max-width: 1448px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.top-bar__logo-company {
  display: flex;
  align-items: start;
  gap: 20px;
}

.logo-company__text {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.logo-company__name {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.logo-company__organization {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #acadad;
}

.top-bar__search-bar {
  position: relative;
  padding-left: 50px;
  min-width: 850px;
  height: 41px;
  background: #0f0f0f;
  border-radius: 50px;
}

.search-bar__input {
  width: 90%;
  height: 100%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.65);
}

.top-bar__search {
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 15px;
}

.top-bar__user-card {
  display: flex;
  align-items: start;
  gap: 20px;
}

.user-card__box {
  display: flex;
  flex-direction: column;
  align-self: start;
  gap: 1px;
}

.user-card__name {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.user-card__meaning {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #acadad;
}

.main {
  margin-top: 50px;
}

.main__wrapper {
  align-items: start;
  gap: 40px;
}

.main__navBar-left {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.navBar-left__list-box {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 30px;
}

.navBar-left__list {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navBar-left__link {
  max-width: 170px;
}

.navBar-left__link-text {
  display: block;
  max-width: 170px;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
}

.navBar-left__number {
  padding: 2px 6px;
  background: #ff4a56;
  border-radius: 4px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #ffffff;
}

.main___mainBar {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 40px;
}

.mainBar__top {
  display: flex;
  align-items: center;
  gap: 47px;
}

.mainBar__top-heading {
  display: block;
  width: 690px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.mainBar__top-btn {
  cursor: pointer;
  padding: 4px 12px;
  display: flex;
  align-items: center;
  gap: 9px;
  background: #0165f9;
  border-radius: 4px;
}

.top-btn__text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.mainBar__content {
  display: flex;
  align-items: start;
  gap: 40px;
}

.mainBar__left {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 30px;
}

.mainBar__left-subheading {
  padding: 12px 30px;
  background: #2b2b2b;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.05);
  border-radius: 50px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
}

.mainBar__top-links {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.mainBar__top-link {
  padding: 12px 30px;
  background: #2b2b2b;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.05);
  border-radius: 50px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
}

.mainBar__right {
  padding: 12px 30px;
  background: #171717;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.05);
  border-radius: 50px;
}

.mainBar__right-subheading {
  width: 530px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
}

.navBar__right {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.navBar__right-subhading {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 16px;
  color: #ffffff;
}

.navBar__right-list {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 15px;
}

.right-list__item {
  width: 100%;
  padding-bottom: 15px;
  display: flex;
  align-items: start;
  gap: 23px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.right-list__title {
  display: block;
  width: 107px;
  text-align: start;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.right-list__meaning {
  display: block;
  width: 132px;
  text-align: center;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
}/*# sourceMappingURL=style.css.map */